.App {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Rubik';
	color: #78909c;
	background: linear-gradient(
		135deg,
		rgb(179, 223, 252) 0%,
		rgb(179, 223, 252) 50%,
		rgb(240, 98, 146)50%,
		rgb(240, 98, 146)100%
	);
}
